<!DOCTYPE html>
<html>
<head>
  <title>Apptester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">App Tester</a>
				<ul class="nav">
					<li><%= link_to "My App Links", linkctrs_path %></li>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
		<%= yield %>
	</div>

</body>
</html>
